* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #331F19;
}
header {
    text-align: center;
}
.conteiner {
    background-color: #CBBBA7;
    margin: 25%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    color: #331F19;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 2px;
}
.menu {
    display: block;
    display: flex;
    gap: 20px;
}
.Entrada1 {
    display: flex;
    display: table-column;
    flex: 1;
    background-color: #CBBBA7;
    margin-top: 2%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 25%;
    color: #331F19;
    padding: 10px;    
    border: 3px solid black;
    
}
.Entrada2 {
    display: flex;
    display: table-column;
    flex: 1;
    margin-right: 25%;
    background-color: #CBBBA7;
    margin-top: 2%;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #331F19;
    padding: 10px;    
    border: 3px solid black;
}
.Entrada3 {
    display: flex;
    display: table-column;
    flex: 1;
    background-color: #CBBBA7;
    margin-top: 2%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 25%;
    color: #331F19;
    padding: 10px;    
    border: 3px solid black;
    margin-top: 0;
}
.Entrada4 {
    display: flex;
    display: table-column;
    flex: 1;
    margin-right: 25%;
    background-color: #CBBBA7;
    margin-top: 2%;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #331F19;
    padding: 10px;    
    border: 3px solid black;  
    margin-top: 0px;
}
.botoes {
    display: block;
    display: flex;
    gap: 20px;
}
.botaoProximo {
    display: flex;
    display: table-column;
    flex: 1;
    background-color: #CBBBA7;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    margin-right: 25%;
    color: #331F19;
    padding: 10px;    
    border: 3px solid black;

}

.botaoAnterior {
    display: flex;
    display: table-column;
    flex: 1;
    background-color: #CBBBA7;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    margin-left: 25%;
    color: #331F19;
    padding: 10px;    
    border: 3px solid black;

}

#botao {
    border: none;
    background-color: #CBBBA7 ;
    cursor: pointer;
    font-size: 43px;
}
img {
    height: 100px;
    width: 100px;

}
hr {
    border-color:black ;
}
.img-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}
.enviar {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}